- if @queue.empty?
  #empty
    = "The queue is empty! Hurry and place an #{link_to 'order', new_order_path}!".html_safe
- else
  - @queue.each do |order|
    = queued_partial order
  #actions
    - if current_user.can_order?
      %a{href: new_order_path}
        #add.icon-button
          = image_tag 'icons/add.png'
    - else
      = Order::QUEUE_FULL_MESSAGE

