#form-wrapper
  #form
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .input#email
        = f.email_field :email, autofocus: true, placeholder: 'email'

      .input#password
        = f.password_field :password, placeholder: 'password'

      .input#commit
        = f.submit 'log in', class: 'button'
    #other
      OR
      %a{href: new_user_registration_path}
        #sign-up.button='sign up'
      #forgot
        = link_to 'forgot password?', new_password_path(User)

