- actions = order.get_actions(current_user)
- show_secondary = current_user.elevated? && !order.notes.nil?

.queued_order{class: order.status}
  .main
    .position
      = order.queue_position
    .drink_details
      .beverage
        = "#{option_display order.temperature} #{option_display order.beverage}"
      - if !(order.milk.nil? && order.decaf.nil?)
        .optional
          = option_display order.milk if !order.milk.nil?
          = option_display order.decaf if !order.decaf.nil?
      .location
        = option_display order.location
    .status
      = option_display order.status
    .order_details
      .ordered_by
        = order.ordered_by
      .ordered_at
        = "#{time_ago_in_words order.created_at} ago"
      - if !actions.empty?
        .actions
          - actions.each do |action|
            = button_to ' ', order_path(action.order_id), action.html_options
  - if show_secondary
    .secondary
      .notes
        %span#notes='Notes:'
        = order.notes

