- action = params[:action]
- controller = params[:controller]
- page = File.join(controller, action)

<!DOCTYPE html>
%html
  %head
    %title=@title || 'Rincon Cafe'
    = favicon_link_tag
    = stylesheet_link_tag controller, media: 'all', 'data-turbolinks-track' => true if asset_exists?(controller, 'css')
    = stylesheet_link_tag page, media: 'all', 'data-turbolinks-track' => true if asset_exists?(page, 'css')
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %p{class: 'alert'}=alert
    %p{class: 'notice'}=notice

    #header
      #home
        = link_to image_tag('icons/queue.png', size: '25x25'), root_path
      - if !@title.nil?
        #title=@title
      #logout
        = logout_button
    #content
      = yield

